body {
  background-color: rgb(245, 249, 255);
  font-family: Noto Sans, Arial;
}
p {
  line-height: 8px;
}

.logo {
  float: left;
  width: 200px;
  margin-left: 30px;
}

h1 {
  text-align: center;
}

.subtitle {
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  margin: 30px;
  gap: 20px;
}
.flex-listing {
  display: flex;
  background-color: rgb(200, 229, 255);
  padding: 50px;
  justify-content: center;
  align-items: center;
}

.pic {
  margin-right: 40px;
  width: 200px;
  height: 200px;
}
.title {
  font-size: 40px;
  font-weight: 700;
}

.desc2,
.desc {
  font-size: 20px;
}

.desc2 {
  color: grey;
}
.desc3 {
  color: rgb(150, 16, 16);
}

.button {
  background-color: rgb(50, 95, 179);
  color: white;
  height: 150px;
  width: 250px;
  border-radius: 18px;
  font-size: 64px;
  margin: 20px 30px;
  transition: background-color, opacity .5s;
}

.button:hover {
  opacity: 0.6;
  cursor: pointer;
  background-color: rgb(2, 121, 85);
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1;
}