body {
  padding-left: 250px;
}
.amazon-link:hover {
  color: rgb(185, 1, 1);
}
.item-name {
  font-weight: bold;
  font-size: 26px;
}
.item-desc {
  font-weight: bold;
  color:rgb(26, 158, 0);
}
.add-to-cart {
  height: 26px;
  width: 100px;
  border-radius: 13px;
  background-color: rgb(255, 208, 0);
  border: none;
  font-size: 12;
}
.add-to-cart:hover {
  background-color: rgb(255, 174, 0);
}
.add-to-cart:active {
  opacity: .65;
}
.buy-now {
  height: 26px;
  width: 100px;
  border-radius: 13px;
  background-color: rgb(252, 122, 0);
  border: none;
  font-size: 12;
}
.buy-now:hover {
  background-color: rgb(252, 80, 0);
}
.buy-now:active {
  opacity: .65;
}


.stretch-button {
  background-color: green;
  color: white;
  border:none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 4px 10px;
  transition: padding .35s;
}
.stretch-button:hover {
  padding: 10px 24px;
}
.shadow-button {
  background-color: green;
  color: white;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 4px 10px;
  box-shadow: 2px 2px 3px rgba(0,0,0,.45);
}
.shadow-button:active {
  margin: 2px 2px;
  box-shadow: none;
}
.cash-value {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: 0px;
}
.USD {
  font-size: 10px;
  color: rgb(100, 100, 100);
}
.stock-today {
  color:green;
  font-family: Arial;
  font-size: 10px;
  margin-top: 2px;
  margin-bottom: 0px;
}
.stock-status {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: rgb(100, 100, 100);
  margin-top: 4px;
}
.stock-val {
  color: red;
}
.model-title {
  font-family: Montserrat;
  font-weight: bold;
  text-align: center;
  font-size: 35px;
  margin-bottom: 0px;
}
.order-text {
  font-family: Montserrat;
  text-align: center;
  margin-top: 10px;
}
.tl-text {
  text-decoration: underline;
}
.cat-1 {
  width: 200px;
  border-radius: 10px;
}
.cat-2 {
  width: 200px;
  height: 200px;
  object-fit:cover;
  object-position: 20%;
  border-radius: 20px;
}
.cat-6,
.cat-5,
.cat-3 {
  width: 20px;
  height: 20px;
  object-fit:cover;
  object-position: 25%;
  border-radius: 100px;
  vertical-align: middle;
}
.tweet-box {
  border:none;
  vertical-align: middle;
  font-size: 8px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
}
.tweet-button {
  background-color: #1d9bf0;
  color:white;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 7px;
  cursor: pointer;
  margin-left: 8px;
  transition: box-shadow .15s;
  vertical-align: top;
  padding: 4px 8px;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
}
.tweet-div {
  padding: 4px 6px;
  width: 160px;
  box-shadow: 0px 0px 3px rgba(0,0,0,.5);
}
.input-block {
  display: block;
}
.input-fn,
.input-ln,
.input-email {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 6px;
  font-size: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(88, 88, 88, 0.521);
  padding: 6px 10px;
}
.newline {
  margin-top: 0px;
  margin-bottom: 3px;
}
.input-fn,
.input-ln {
  width: 60px;
}
.input-email {
  margin-top: 4px;
  width: 146px;
}
.signup-button {
  border-radius: 6px;
  background-color: #0066ff;
  color: white;
  border-width: 0px;
  padding: 7px 67px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4px;
  font-size: 9px;
  font-weight: bold;
}
.profile-div {
  margin-top: 20px;
  box-shadow: 0px 0px 2px rgba(0,0,0,.5);
}
.cat-4 {
  width: 100px;
  height: 100px;
  object-fit:cover;
  object-position: 20%;
}
.name-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin: 0px 3px;
  font-weight: bold;
}
.friend-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  margin: 1px 0px;
  color: grey;
  display: inline-block;
}
.friend-button {
  margin: 1px 3px;
  margin-bottom: 3px;
  background-color: #0066ff;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 7px;
  padding: 5px 13px;
  font-family: Arial, Helvetica, sans-serif;
}
.cat-5 {
  margin: 2px 4px;
  height: 16px;
  width: 16px;
  margin-right: 0p
}
.cat-grid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  column-gap: 10px;
}
.cat-flex {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.cat-info-flex-2,
.cat-info-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cf-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 5px;
}
.cf-right {
  margin-left: 25px;
}
.follow-button {
  margin: 10px 6px;
  border: none;
  background-color: #1d77ff;
  border-radius: 2px;
  color: white;
  font-family: Roboto;
  font-size: 7px;
  padding: 3px 5px;
  font-weight: 500;
}
.cf-e,
.cf-d,
.cf-a,
.cf-b,
.cf-c {
  font-family: roboto;
  font-size: 7px;
  margin: .5px;
  color: grey;
}
.cf-a {
  color: black;
  font-weight: bold;
}
.cf-c {
  font-size: 5px;
}
.cat-6 {
  height: 24px;
  width: 24px;
}
.header-purp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(103, 55, 190);
}
.text-purp {
  color: white;
  font-family: Roboto;
  font-weight: 500;
  margin: 9px 10px;
  font-size: 10px;
}
.input-purp {
  border: none;
  border-radius: 50px;
  margin: 7px 0px;
  font-size: 7.5px;
  width: 100%;
  padding: 2px 10px;
}
.dl-purp {
  border-color: white;
  color: white;
  background-color: rgb(103, 55, 190);
  border-style: solid;
  border-width: 1px;
  margin: 5px 10px;
  margin-right: 5px;
  font-size: 8px;
  font-family: Roboto;
  border-radius: 2px;
  padding: 4px 8px;
}
.email-flex {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 2px rgba(0,0,0,.5);
}
.inbox-header {
  font-family: Roboto;
  font-size: 6px;
  margin: 4px 6px;
  color: rgb(116, 116, 116);
  margin-bottom: 8px;
}
.title-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9px;
}
.email-time {
  font-family: Roboto;
  font-size: 6px;
  color: rgb(116, 116, 116);
  margin: 6px;
}
.cat-info-flex-2 {
  flex: 1;
}
.cf-d {
  color: black;
  font-weight: bold;
  font-size: 6px;
}
.cf-e {
  font-size: 6px;
}
.disc-flex {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
}
.servers-flex {
  width: 70px;
  background-color: rgb(48, 48, 48);
  height: 100%;
}
.server-3,
.server-2,
.server-1 {
  width: 50px;
  height: 50px;
  object-fit:cover;
  object-position: 25%;
  border-radius: 100px;
  vertical-align: middle;
  margin: 15px 10px;
  margin-bottom: 0;
}
.server-3,
.server-2 {
  margin-top: 10px;
}
.channels-flex {
  background-color: rgb(61, 61, 61);
  display: flex;
  flex-direction: column;
}
.section-flex {
  display: flex;
  justify-content: space-between;
  height: 45px;
}
.channel {
  color: rgb(151, 151, 151);
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 16px;
}
.section-a {
  color: rgb(201, 201, 201);
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 15px;
}
.section-b {
  color: rgb(151, 151, 151);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin: 15px 15px;
}
.ad {
  width: 320px;
  height: 180px;
  position: fixed;
  background-color: grey;
  bottom: 10px;
  left: 10px;
  z-index: 100;
}
.close-button {
  position: absolute;
  background-color: black;
  color: white;
  padding: 6px 10px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  top: -10px;
  left: -10px;
}
.ad-timer {
  position: absolute;
  background-color: black;
  color: white;
  bottom: 10px;
  right: 10px;
  padding: 4px 6px;
  font-family: Roboto;
  border-radius: 2px;
}